.logo {
    max-width: 200px;
}
.carousel-item img {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
}
.testimonials {
    background-color: rgb(0, 0, 90);
    color: white;
}
.testimonials .nav-link {
    color: white;
}
.contact {
    background-color: lightgray;
}